#body {
    display: flex;
    justify-content: center;
    background-color: #9ff9ff;
}

#form-shape {
    width: 150vh;
    padding: 30px;
    background-color: #FFFFFF;
}

#logo {
    width: 200px;
    height: 50px;
}

#container-format-code {
    display: flex;
    justify-content: end;
}

#title {
    text-align: center;
}



